/*https://benmarshall.me/styling-file-inputs/ used this website as reference for changing the file input button */

body {
	font-family: 'Rubik', sans-serif;
	background: #f5eeee;
}

::selection {
	background: #fde8f5;
}

p, a, h1, h2 {
	display: block;
	color: #ea21a2;
	text-decoration: none;
}

h2 {
	font-size: 1.1rem;
	color: #ea21a2;
}

.secondaryH2 {
    margin-top: 1.5rem;
}

.primaryH2 {
    margin-top: 0;
	top: 0;
}

h3 {
	font-size: .8rem;
	color: #ea21a2;
	margin: .25rem;
	margin-bottom: 0;
}

p {
	color: #171313;
}





.wrapper {
	margin: 0 auto;
	width: 63rem;
	overflow: hidden;
}

.splitWrapper {
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	max-width: 60%;
}

canvas {
    display: block;
	float: left;
	border: 1.5px solid #171313;
	border-radius: 5px;
}

section{
	display: block;
	vertical-align: top;
}

#gameWrapper {
	display: block;
	vertical-align: top;
}

select {
	border-radius: 5px;
}

.stepControlInactive{
	background: #fde8f5;
	opacity: 0.1;
	border-radius: 5px;
	margin: .2rem 1rem;
	margin-left: 0;
	transition: .5s;
}

.stepControlActive{
	background: #f5eeee;
	border: 1.5px solid #171313;
	opacity: 1;
	border-radius: 5px;
	padding: 0.2rem;
	margin: .2rem 1rem;
	margin-left: 0;
	text-align: center;
	transition: .5s;
	
}

.stepControlActive:hover{
	background: #f48acf;
	cursor: pointer;
}

.icon_wrapper {
	display: inline;
}

.icon {
	width: 2rem;
	height: auto;
	padding: 0;
	margin: 0;
}

ul {
	padding: 0;
	margin: 1rem 0;
	width: 100px;
}

li {
	font-family: Ubuntu Mono, monospace;
	font-size: 1rem;
	display: inline;
	text-decoration: none;
	padding: 2px 6px;
    border-radius: 5px;
}

.visualizerWrapper  {
    width: 16rem;
	float: left;
}

#visLogWrapper {
	float: left;
	width: 19rem;
	margin-right: .4rem;
}

.visualizer {
	width: 100%;
	margin: 0;
	overflow: auto;
}

#instructions {
	border: none;
	height: auto;
}

.inline {
	display: inline;
}

.visualizer p {
	line-height: .2rem;
	font-size: 0.65rem;
}

#stack, #memory {
	display: inline-block;
	border: 1.5px solid #171313;
	border-radius: 5px;
	width: 5.3rem;
	height: 20rem;
	margin: 0rem 0;
	margin-top: 1rem;
	margin-right: .5rem;
}

#memory {
	width: 8.2rem;
}

#visLog {
	display: inline-block;
	border: 1.5px solid #171313;
	border-radius: 5px;
	width: 100%;
	height: 20rem;
	margin: 0rem 0;
	margin-top: 1rem;
}

.log {
}

.mriWrapper {
	display: inline-block;
	margin: 0;
	margin-right: 1rem;
	margin-left: .5rem;
	padding: 0;
	vertical-align: top;
}

.mriWrapper div > * {
	display: inline;
}

#controls {
	width: 49%;
}

#controls section > *{
	display: block;
}

[type="file"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	white-space: nowrap;
	width: 1px;  
}

[type="file"] + label {

  background-color: #f5eeee;
  border-radius: 5px;
  border: 1.5px solid #171313;
  color: #171313;
  cursor: pointer;
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  width: 9rem;
  margin-right: 12rem;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0.2rem;
  transition: background-color 0.3s;
}
 
[type="file"]:focus + label,
[type="file"] + label:hover, [type="file"] + label:active {
    background-color: #f48acf;
}

.emulatorRunning {
	background-color: #f48acf;
}

a {
	color: #171313;
}